[Unit]
Description=Indexer of repos service

[Service]
ExecStart=%h/go/bin/repo-indexer -daemon

[Timer]
OnCalendar=*:0/15
OnActiveSec=0
Persistent=false

[Install]
WantedBy=timers.target
